<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">image-upscaling.net</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a id="nav-upscaling" class="nav-link" href="{{ url_for('upscaling.upscaling') }}">Image Upscaling</a>
        </li>
        <li class="nav-item">
          <a id="nav-removebg" class="nav-link" href="{{ url_for('removebg.removebg') }}">Background Remover</a>
        </li>
        <li>
          <a id="nav-tts" class="nav-link" href="{{ url_for('tts.tts') }}">Text to Speech</a>
        </li>
        <li>
          <a id="nav-ieditor" class="nav-link" href="{{ url_for('iedit.image_editor') }}">Flux Editor</a>
        </li>
        <li class="nav-item">
          <a id="nav-about" class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-item">
          <a id="nav-api" class="nav-link" href="{{ url_for('anypath', path='/api.html') }}">API</a>
        </li>
        <li class="nav-item">
          <a id="nav-account" class="nav-link" href="{{ url_for('account.account') }}">Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
