<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="description"
          content="Remove backgrounds from images with this free tool. Get high-quality, transparent cutouts in seconds. No subscriptions, no sign-up, no paywall.">
    <meta name="og:title" content="Free AI Background Remover | No Sign-Up, No Watermarks"/>
    <meta name="og:description" content="Remove backgrounds from images instantly with this free AI tool!"/>
    <meta name="og:image"
          content="{{ url_for('static', filename='assets/images/logo.webp', _external=True) }}"/>

    <title>Free AI Background Remover | No Sign-Up, No Watermarks</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900&display=swap">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='checkbox.css') }}">
</head>

<body>

<script>
    const str_upload_btn = "upload";
    const str_uploading_image = "uploading image... wait a few seconds!";
    const str_image_too_large = "Image size too large!";

    const refresh_rate = "{{refresh_rate}}";
    const default_image_src = "{{ url_for('static', filename='assets/images/logo.webp') }}";
    const upload_src = "{{ url_for('removebg.removebg_upload') }}";
    const get_images_src = "{{ url_for('removebg.removebg_get_status') }}";
    const image_max_size = "{{ image_max_size }}";
    const image_view_url = "{{ url_for('routes.image_view') }}";
</script>

{% include 'navbar.html' %}
<script>
    document.getElementById("nav-removebg").classList.add("active");
</script>


<div class="container mt-5 mb-5">
    <div class="row align-items-center">
        <!-- Left: Image Preview -->
        <div class="col-lg-6 text-center mb-4 mb-lg-0 order-lg-2">
            <img id="imagePreview" src="{{ url_for('static', filename='assets/images/logo.webp') }}"
                 alt="Preview Image">
        </div>
        <!-- Right: Headline and Controls -->
        <div class="col-lg-6 text-center order-lg-1">
            <h1 id="headline"><strong>AI Background Remover</strong></h1>
            <!-- Action Buttons -->
            <div class="d-flex justify-content-center flex-wrap">
                <a id="fileA" class="btn btn-custom btn-primary" onclick="selectfiles();">select images</a>
                <a id="uploadA" class="btn btn-custom btn-outline-primary"
                   onclick="document.getElementById('submit').click();"><span id="uploadbtntext">upload</span> (<span
                        id="uploadnum">0</span>)</a>
            </div>
        </div>
    </div>
</div>

<div style="display:none;">
    <form id="uploadForm" onsubmit="submitForm(event)" enctype="multipart/form-data">
        <input type="file" name="image" id="fileInput" accept="image/*" onchange="onFilesSelected(event)" multiple>
        <input type="submit" id="submit" value="Upload Image" name="submit">
    </form>
</div>

<div class="container">
    <p style="display:none;" id="free_quota_exhausted_info">Daily free quota exhausted. Visit <a
            href="{{ url_for('account.account') }}">/account</a> to get more quota</p>
</div>


<section id="gallery" class="mb-3">

    <div class="container">

        <div id="imagedata">


            <div style="display:none;" class="mb-2" id="c3">
                <h3>Processed images:</h3>
                <p>Ready for download — Click on an image to open it!<br>
                    Note: Your images will be deleted from the server after you open them so make sure you save them!
                <div class="d-flex checkbox-wrapper" style="align-items:center;">
                    <label class="form-check-label">enable quick download without preview: </label>
                    <input id="quick_download_toggle" style="margin-left:10px;" type="checkbox" class="switch"
                           onchange="reloadContent();">
                </div>
                </p>
                <div class="gallery row" id="g3">
                </div>
            </div>

            <div style="display:none;" class="mb-2" id="c1">
                <h3>Images currently being processed:</h3>
                <p>The processing takes about 10 seconds. Your file will be ready soon! Feel free to check back shortly!
                    <br>You can also visit our new <a href='https://discord.gg/utXujgAT8R'><strong>discord</strong></a>
                    or take the time to follow me on <a
                            href='https://x.com/image_upscaling'><strong>twitter</strong></a>.</p>
                <div class="gallery row" id="g1">
                </div>
            </div>

            <div style="display:none;" class="mb-2" id="c2">
                <h3>Images waiting in line for processing:</h3>
                <p>Background removal takes time and other images are currently being processed. Check back in 2 minutes
                    - you do not need to keep this tab open! <br>You can also visit our new <a
                            href='https://discord.gg/utXujgAT8R'><strong>discord</strong></a> or take the time to follow
                    me on <a href='https://x.com/image_upscaling'><strong>twitter</strong></a>.</p>
                <div class="gallery row" id="g2">
                </div>
            </div>
        </div>

    </div>

</section>

<div class="container mt-3">
    <div id="donation_div" style="display:none;">
        <h3>This background remover is free, but running it isn’t.</h3>
        <p>
            This service runs on powerful compute servers — donations help keep them running for everyone.
        </p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="imageupscaling.net@gmail.com">
            <input type="hidden" name="item_name"
                   value="Running AI models requires powerful computers. Your support helps cover costs to keep the project running!">
            <input type="hidden" name="currency_code" value="EUR">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="custom" value="{{ client_id }}">
            <input TYPE="hidden" NAME="return" value="{{ url_for('account.account', _external=True) }}">
            <input TYPE="hidden" NAME="cancel_return"
                   value="{{ url_for('account.account', _external=True) }}">
            <input TYPE="hidden" NAME="notify_url"
                   value="{{ url_for('ipn.paypal_ipn', _external=True, _scheme='https') }}">
            <input style="width:200px;" type="image" name="submit"
                   src="{{ url_for('static', filename='assets/images/paypal-donate-button.png') }}"
                   alt="Donate">
            <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">

        </form>
        <div class="line-segment"></div>
    </div>
</div>
<section>
    <div class="container" id="howitworks">
        <h2>Remove Backgrounds from Your Images with AI</h2>
        <p>Upload an image to have its background removed using AI! Your processed images are visible only to you and
            will be deleted a few minutes after processing. You can upload images up to 100MPx for high-quality background
            removal. Note that during peak times, processing may take a few minutes.</p>
        <h3>Key Features</h3>
        <ul>
            <li>Top-quality results</li>
            <li>100% free for small-scale use — no paywall, no sign-up. A daily free quota applies.</li>
            <li>Large image support up to 10k*10k</li>
            <li>Fast and user friendly interface</li>


        </ul>
        <br>
        <h2>How It Works</h2>
        <p>Using this website is incredibly simple — and free:</p>
        <ol>
            <li><strong>Upload Your Image:</strong>
                Select an image from your device. Please note that the image size is limited to 100MPx.
            </li>
            <li><strong>Processing Time:</strong> The server will start working on your image. This process can take a
                while, so
                feel free to come back later. Your image will be saved and ready for download once it’s done.<br>
            </li>
            <li><strong>Download Your Processed Image:</strong>
                Return to the site after a minute, and your processed
                image will be waiting for you in the gallery!
            </li>
        </ol>

        <h2>Examples</h2>
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="{{ url_for('static', filename='assets/images/example1.webp') }}"
                     alt="background remove example">
            </div>
            <div class="col-12 col-md-6">
                <img src="{{ url_for('static', filename='assets/images/example1.webp') }}"
                     alt="background remove example">
            </div>
        </div>
        <div class="line-segment"></div>

        <div>
            <h2>Data safety and copyright</h2>
            <ul>
                <li>Your images are matched to you using a cookie - a 32-character hexadecimal string randomly generated
                    when
                    you first visit the page. Only with this cookie can an image be accessed.
                </li>
                <li>Your images will be stored until they are processed and a few additional minutes for you to download
                    them.
                </li>
                <li>Your images will not be used in any way other than being processed and stored for a short time on
                    this server.
                </li>
                <li>Using this website gives me (the owner) no rights about your images - you are still full copyright
                    holder.
                <li>The images are stored on this web server in germany.</li>
            </ul>
        </div>

    </div>
</section>

{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='removebg.js', v='2') }}"></script>
<script src="{{ url_for('static', filename='show_notification.js', v='1') }}"></script>

{% include 'gtag.html' %}
</body>

</html>
